<div id="ReposSpace" class="banner">
	<div class=row>
		<div class="col">
			<div class="row">
				<div class="col">
					<div class="row">
						<button type="button" ng-click="goToSingleRepositoryView()"
							class="col btn-lg btn-info m-2">New Repository</button>
						<button type="button" ng-click="downloadRepo()"
							class="col btn-lg btn-info m-2">Download Repository</button>
					</div>
					<div class="row border-bottom border-white mb-4">
						<input type="text" class="col my-3 mx-2" placeholder="Name ..."
							ng-model="repoStorage.repoCollectionName">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div ng-repeat="x in repoStorage.getRepository()">
						<div class="row">
							<div class="col">
								<div class="row">
									<div class="col">
										<div class="row">
											<div class="col">
												<button ng-click="removeRepository($index)"
													class="btn btn-info pull-right m-2">
													<b>&times</b>
												</button>

												<button ng-click="editRepository($index)"
													class="btn btn-info pull-right m-2">
													<b>&#9999</b>
												</button>
											</div>

										</div>
										<div class="row my-4">
											<div class="col">
												<div class="row" id="textCenter">
													<h4>{{x.name}}</h4>
												</div>
												<div class="row border-bottom border-top py-2">
													<div class="col">
														<div ng-repeat="c in x.components">
															<div class="row px-2 my-1"><button class="col btn-lg btn-info"  ng-click ="dirctEditing(x.name,c.name)">{{c.name}}</button></div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>