<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
		<title>ML-PLan</title>
		<script src="jquery-3.3.1.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <link rel="stylesheet" href ="CSS/style.css">
        <link rel="stylesheet" href ="CSS/style_sub.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		
	</head>
	<body>

            <script>
  /*                 class Component{
                        constructor(name, reqInterface, providedInterface, param, dependency){
                            this.name = name;
                            this.reqInterface = reqInterface;
                            this.providedInterface = providedInterface;
                            this.param = param;
                            this.dependency = dependency;
                        }
                    }; */
        
                class reqInterface{
                    constructor(id, name, prio){
                        this.id = id;
                        this.name = name;
                        this.prio = prio;
                    }
                     /*set setId(value){
                         this.id = value;
                    } */

                    set setName(value){
                        this.name = value;
                    } 

                    /*set setPrio(value){
                        this.prio = prio
                    } */
                };  
        
                 class providedInterface{
                        constructor(interfaces){
                            this.interfaces = interfaces;
                        }
                    };

                    /*   
                    class param{
                        constructor(name, defaultValue, numberParams , boolParams, catParams){
                            this.name = name;
                            this.defaultValue = defaultValue;
                            this.numberParams = numberParams;
                            this.catParams = catParams;
                        }
                    };
        
                    class dependency{
                        constructor(pre, post){
                            this.pre = pre;
                            this.post = post;
                        }
                    }; */
        
                    var ComponentApp = angular.module('ComponentCreationApp',[]);
                    
                    ComponentApp.controller('ComponentCreationController', function($scope){
                            $scope.reqInterfaces = [];
                            $scope.providedInterfaces = [];

                            $scope.reqInterfaceName = 'nix';

                            $scope.addReqInterface = function(){
                                $scope.errortext="";
                                if(!($scope.reqInterfaces.indexOf($scope.addReqInterface)== -1)){
                                    $scope.errortext="The requiered Interface is allready added";
                                }else{
                                    $scope.reqInterfaces.push(new reqInterface(null,null,null));
                                }
                                console.log($scope.reqInterfaces);
                                console.log($scope.reqInterfaceName);
                                
                            }

                            $scope.addProvidedInterface = function(){
                                $scope.errortext = "";
                                if(!($scope.providedInterfaces.indexOf($scope.addProvidedInterface)== -1)){
                                    $scope.errortext="The requiered Interface is allready added";
                                }
                                else{
                                    $scope.providedInterfaces.push(new providedInterface(null,null,null));
                                }
                            }

                            $scope.removeReqInterface = function(x){
                                $scope.errortext="";
                                $scope.reqInterfaces.splice(x,1);
                            }

                            $scope.removeProvidedInterface = function(x){
                                $scope.errortext="";
                                $scope.providedInterfaces.splice(x,1);
                            }

                            $scope.setReqInterfaceName = function(index){
                                console.log("hello");
                                $scope.reqInterfaces[index].setName($scope.reqInterfaceName);
                               
                            } 

                        }
                    );
                    
                </script>

                <script src="reqInterfaces/directive/reqInterfaceDirect.js"></script>
                <script src="providedInterfacs/directive/providedInterfaces.js"></script>


        <div ng-app="ComponentCreationApp" ng-controller="ComponentCreationController">
            
            <button ng-click="addReqInterface()">Add requiered Interface</button>
            <div id = "reqInterfaceSpace">
                <req-interface-direct ng-repeat="x in reqInterfaces"></req-interface-direct>
            </div>
            
            <button ng-click="addProvidedInterface()">Add povided Interface </button>
            <div id="providedInterfaceSpace">
                    <provided-interface-direct ng-repeat="x in providedInterfaces"></provided-interface-direct>
            </div>
          
			<req-interface-direct></req-interface-direct>
        </div>
		

        
    </body>
</html>