html {
    height: 100%;  
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    height:100vh;
    width: 60%;
    border: solid;
    border-color: black;
    
    background-image: url("base.jpg");

    background-color: #1c4b53;
    background-position: center;
    background-attachment: fixed;
    background-size:cover;
    align-items: center;

    padding-left:80px;
    padding-right:80px;
    padding-top:50px;
    padding-bottom: 20px;
    min-width:800px;
    min-height:500px;
    overflow-y: scroll;
    overflow-x: scroll;
    box-sizing: border-box;
    
 }
 .banner{
    
    height:90%;
    background-color: rgba(29, 72, 78,0.9);
    color: #1c4b53;
    padding:5%;
    box-sizing: border-box;
 }
 .head{
    transform: scale(1.3,1);
    padding: 5px;
    color:rgba(29, 72, 78,0.9);
    text-align: center;
    font-family: Verdana;
    background-color: rgba(176, 255, 255, 0.8);
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 5px;
    border-top: solid;
    border-bottom: solid;
    border-color: rgba(176, 255, 255, 1);
    
    
 }
 #text_head{
    transform: scale(0.7,1);
    box-sizing: border-box;
 }

 #gradiant_left{
    width: 50%;
    background-image: linear-gradient(to left, rgba(0,0,0,0), rgba(176, 255, 255,0.1),rgba(176, 255, 255,1));
 }

 #gradient_right{
    background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(176, 255, 255,0.1), rgba(176, 255, 255,1));
 }
 .main{
    width:100%;
    color: rgba(176, 255, 255, 0.8);
    box-sizing: border-box;
    float:left;
    padding: 15px;
    
 }
.banner_wrapper{
    background-color: rgba(0, 46, 49, 0.253);
    border: 2px solid rgba(176, 255, 255,1);
    border-radius: 2px;
    overflow-y:scroll;
    overflow-x:hidden;
    height:75%;
}
 .empty_strip{
     width:100%;
     height:50px;
     box-sizing: border-box;
 }

#name_row{
    color: rgba(176, 255, 255);
    box-sizing: border-box;
    font-family: Verdana; 
 }

input[type = text]{
    cursor: text;
     width: 100%;
     border-radius: 2px;
     border: 2px solid rgb(161, 161, 161);
     padding: 5px;
     box-sizing: border-box;
     resize: vertical;
 }

label{
    box-sizing: border-box;
    display: inline-block;
    padding-left: 5px; 
    padding-right: 5px; 
}
.col_textfield-25{
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col_textfield-75{
    float: left;
    width: 75%;
    margin-top: 6px;
}

.interface_button{
    width: 50%;
    padding-top: 15px;
    padding-bottom: 15px;
    height: 40px;
 }

 .button{  
    border:none;
    border-radius: 2px;
    border: 1px solid  rgba(16, 41, 44, 0.9);
    background-color: #2FD4CE;
    color: rgb(43, 65, 65);
    padding: 2% 5%;
    text-align: center;
    font-size: 80%;
    font-family: Verdana;
    cursor: pointer;
    width:100%;
    height: 100%;
    box-sizing: border-box;
 }

 .button:hover {
    background-color: rgb(0, 141, 136);
}

.panel_main_sub{ 
    
    box-sizing: border-box;
    width: 100%; 
    height: 50px;
}

.box_panel_top{
    width:100%;
    height: 2em;
    box-sizing: border-box;
}

.close_button{
    width: 2em; 
    height: 100%;
    text-align: center;
    box-sizing: border-box;
    float: right;
}
#component_name{
    padding-bottom: 20px;
}
#wrapper_interface_panel{
    border: 2px solid rgba(176, 255, 255,0.5);
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 2px;
    font-family: Verdana;
    color: rgba(176, 255, 255);
    height:100%;
}

#wrapper_requiered_interface{
    border: 2px solid rgba(176, 255, 255,0.5);
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 2px;
    font-family: Verdana;
    color: rgba(176, 255, 255);
    height:100%;
}

#piority{
    width: 30%;
}

#wrapper_parameter_panel{
    border: 2px solid rgba(176, 255, 255,0.5);
    padding:10px;
    border-radius: 2px;
    font-family: Verdana;
    color: rgba(176, 255, 255);
    height:100%;
}

#dependency_wrapper{
    border: 2px solid rgba(176, 255, 255,0.5);
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 2px;
    font-family: Verdana;
    color: rgba(176, 255, 255);
    height:100%;
}

#prio_label{
    width: 15%;
    padding-right: 10px;
}
#prio_text_field{
    width: 15%;
    padding-right: 5px;
}
#type_label{
    width:10%;
    padding-right: 10px;
}
#type_selct{
    width:15%;
    padding-right: 5px;
}

#default_label{
    width:15%;
    padding-right: 10px;
}
#default_text_field{
    width:20%;
    padding-right: 5px;
}

#number_add_on{
    border: 2px solid rgba(176, 255, 255,0.2);
    border-radius: 2px;
}

#cat_add_on{
    border: 2px solid rgba(176, 255, 255,0.2);
    border-radius: 2px;
    padding:10px;
    box-sizing: border-box;
}

#value_panel{
    border: 2px solid rgba(176, 255, 255,0.1);
    border-radius: 2px;
   
}
#min_label{
    width:10%;
}
#min_text_field{
    width:10%;
    padding-right:2px;
}

#max_label{
    width:10%;
    
}
#max_text_field{
    width:10%;
    padding-right:2px;
}

#refine_label{
    width:15%;
    
}
#refine_text_field{
    width:12%;
    padding-right:2px;
}

#min_interval_label{
    width:20%;
    
}
#min_interval_text_field{
    width:10%; 
}

#value_button{
    padding-top:10px;
    padding-bottom:10px;
    padding-left:0px;
    padding-right:0px;
}

#value_text_field{
    width: 23%;
}
#value_panel{
    height: 75px;
}
#depandency_panel{
    height: 115px;
}
.button_mini{
    cursor: pointer;
    background-color:rgba(0,0,0,0);
    width: 100%;
    border:none;
    color: rgb(32, 212, 206);
}
.submit_area{
    text-align: center;
}
#submit_button{
    display: inline-block;
}
.col{
    flex: 1;
}