html { 
    height: 100%;  
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

body {
    
    height:100vh;
    width: 60%; 
    background-image: url("base.jpg");
    background-color: #1c4b53;
    background-position: center;
    background-attachment: fixed;
    background-size:cover;
    align-items: center;

    padding-left:80px;
    padding-right:80px;
    padding-top:50px;
    padding-bottom: 20px;
    min-width:800px;
    min-height:500px;
    overflow-y: scroll;
    overflow-x: scroll;
    box-sizing: border-box;
    
 } 
  .banner{  
    height:90%;
    background-color: rgba(29, 72, 78,0.9);
/*     color: #1c4b53; */
	color: white;
    padding:5%;
    box-sizing: border-box;
 } 
 
#centerButton{
	display: flex;
	display: flex;
    align-items: center;
    justify-content: center;
}

#textCenter{
	display: flex;
	display: flex;
    align-items: center;
    justify-content: center;
}

.border-3 {
    border-width:3px !important;
}