html { 
    height: 100%;  
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

body {
    
    height:100vh;
    width: 60%; 
    background-image: url("base.jpg");
    background-color: #1c4b53;
    background-position: center;
    background-attachment: fixed;
    background-size:cover;
    align-items: center;

    padding-left:80px;
    padding-right:80px;
    padding-top:50px;
    padding-bottom: 20px;
    min-width:800px;
    min-height:500px;
    overflow-y: scroll;
    overflow-x: scroll;
    box-sizing: border-box;
    
 } 
  .banner{  
    height:90%;
    background-color: rgba(29, 72, 78,0.9);
/*     color: #1c4b53; */
	color: white;
    padding:5%;
    box-sizing: border-box;
 } 
 
#centerButton{
	display: flex;
	display: flex;
    align-items: center;
    justify-content: center;
}

#textCenter{
	display: flex;
	display: flex;
    align-items: center;
    justify-content: center;
}
/*  input[type = text]{ */
/*     cursor: text; */
/*      width: 100%; */
/*      border-radius: 2px; */
/*      border: 2px solid rgb(161, 161, 161); */
/*      padding: 5px; */
/*      box-sizing: border-box; */
/*      resize: vertical; */
/*  } */

/* label{ */
/*     box-sizing: border-box; */
/*     display: inline-block; */
/*     padding-left: 5px;  */
/*     padding-right: 5px;  */
/* } */

/*  .button{   */
/*     border:none; */
/*     border-radius: 2px; */
/*     border: 1px solid  rgba(16, 41, 44, 0.9); */
/*     background-color: #2FD4CE; */
/*     color: rgb(43, 65, 65); */
/*     padding: 2% 5%; */
/*     text-align: center; */
/*     font-size: 80%; */
/*     font-family: Verdana; */
/*     cursor: pointer; */
/*     width:100%; */
/*     height: 100%; */
/*     box-sizing: border-box; */
/*  } */

/*  .button:hover { */
/*     background-color: rgb(0, 141, 136); */
/* } */